*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-style: italic;
    font-weight:600;
    
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(244, 207, 207);
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button-wrapper{
    margin-top: 30px;
    margin-bottom: 30px ;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.roll-button{
    width:100px;
    height: 30px;
    border: none;
    background-color: rgb(170, 132, 203);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 3px rgba(6, 6, 6, 0.15);
    transition: 0.3s ease-in-out;
    
}
.roll-button:hover{
    background-color: blueviolet;
    font-size:large;
    border-radius: 5px;
}
.roll-button:active{
    background-color: rgb(39, 11, 48);
    font-size:xx-large;
    border-radius: 5px;
}
.clear{
    width:70px;
    height: 30px;
    border: none;
    background-color: rgb(203, 132, 164);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 3px rgba(6, 6, 6, 0.15);
    transition: 0.3s ease-in-out;
    
}
.clear:hover{
    background-color: rgb(112, 4, 42);
    font-size:large;
    border-radius: 5px;
}
.clear:active{
    background-color: rgb(39, 11, 48);
    font-size:xx-large;
    border-radius: 5px;
}
.list-group{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgb(170, 132, 203);
    padding: 5px;
    border-radius: 5px;
}
.list{
    background-color: aliceblue;
    padding: 5px;
    display: flex;
    font-size:larger;
    border-radius: 3px ;
}
.list:hover{
    background-color: rgb(145, 54, 76);
    padding: 5px;
    display: flex;
    font-size:xx-small
}
.list:hover{
    background-color: rgb(227, 90, 90);
    padding: 5px;
    display: flex;
    font-size:larger;
    border: 1px solid black;
}
i{
    margin-left: 10px;
}


img{
    width: 200px;
    height: 200px;
    background-color: rgb(237, 187, 187);
    border-radius: 30px;
}
